/*styling body and html*/

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  body {
    min-height: 100vh;
  }

/*styling header section*/

header {
    background-color: #6A0DAD;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

/*styling logo*/

img {
    border-radius: 36px;
    width: 70px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*styling contact link*/

.HomePage {
    color: black;
    background-color: #541c44;
    padding: 15px;
    border-radius: 48px;
    font-size: 1.1em;
    font-weight: bolder;
}

a:hover {
    color: white;
}

/*styling first section*/

.First_section {
    text-align: center;
    margin-top: 150px;
}

.First_section > p {
font-weight: bolder;
font-size: 2.8em;
}

/*styling second section*/

.Second_section {
    margin-top: 200px;
    display: flex;
    gap: 50px;
    justify-content: center;
}

.email > h2, .github > h2, .phonenumber > h2 {
    text-align: center;
}

.email > a, .github > a, .phonenumber > a {
    color: black;
    background-color: #541c44;
    padding: 15px;
    border-radius: 48px;
    font-size: 2.9em;
    font-weight: bolder;
    text-align: center;
}

.Second_section > div > a:hover {
    color: white;
}

/*styling the footer */

footer {
    padding: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6A0DAD;
    width: 100%;
    height: 75px;
    box-sizing: border-box;
    margin-top: 400px;
}

.footer_con {
    color: black;
    font-weight: bold;
    font-size: 1.2em;
}