
/*styling logo*/

img {
    border-radius: 36px;
    width: 70px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*styling contact link*/

.contact {
    color: black;
    background-color: #541c44;
    padding: 15px;
    border-radius: 48px;
    font-size: 1.1em;
    font-weight: bolder;
}

a:hover {
    color: white;
}

/*styling body and html*/

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  body {
    min-height: 100vh;
  }

/*styling header section*/

header {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
}
.header_con {
    background-color: #6A0DAD;
    padding: 10px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 250px;
}

/*styling the first section*/

.section_1 {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
}

.section_1 > p {
    font-size: 2.1em;
    font-weight: bold;
    color: black;
}

/*styling card section*/

.card_section {
    margin-top: 100px;
    padding: 50px;
}

.card-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    max-width: 400px;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 18px;
    padding-bottom: 50px;
  }

.card > a {
    color: black;
    background-color: #541c44;
    padding: 15px;
    border-radius: 48px;
    font-size: 1.1em;
    font-weight: bold;
}

.card > a:hover {
    color: white;
}

.card > p {
    margin-bottom: 50px;
    font-weight: bold;
    color: black;
    font-size: 1.4em;
}

/*styling the footer */

footer {
    padding: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6A0DAD;
    width: 100%;
    height: 75px;
    box-sizing: border-box;
    margin-top: auto;
}

.footer_con {
    color: black;
    font-weight: bold;
    font-size: 1.2em;
}


